
*{
  box-sizing: border-box;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
}

body{
  width: 960px;
  background-color: #777;
  font-family: 'Arial','Helvetica Neue',Helvetica, sans-serif;
  font-size: 18px;
}

header {
  background-color: #ebebeb;
  width: 495px;
  height: 75px;
  padding: 25px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

nav {
  background-color: #ebebeb;
  width: 495px;
  height: 75px;
  padding: 25px;
  margin: auto;
  margin-bottom: 15px;
}


#left{
  float: left;
  width: 330px;
  background: #ebebeb;
  margin-left: 232px;
  margin-bottom: 15px;
  position: relative;

}
h3 {
  margin-top: 15px;
}

article {
  width: 310px;
  background: #777;
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
}

#headers {
  background: #ebebeb;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 5px;

}

#p {
  background: #ebebeb;
  padding: 5px;
  margin-bottom: 5px;
}

aside{
  float: left;
  width: 154px;
  height: 210px;
  background: #ebebeb;
  margin-left: 10px;
  margin-bottom: 15px;
  padding: 10px;
  position: relative;


}

footer {
  clear: both;
  width: 495px;
  height: 75px;
  padding: 20px;
  background: #ebebeb;
  margin: auto;


}
